- if (inEffect || outEffect)
    .
        (function () {
        if (typeof window.$ === 'undefined') { return; }
        var html = $('html');

    - if (inEffect)
        .
            html.css('animation-duration', '#{inDuration/1000}s').addClass('animated #{inEffect}');
            setTimeout(function () { html.removeClass('animated #{inEffect}') }, #{inDuration});

    - if (outEffect)
        .
            $(function () {
                html.on('click', 'a', function () {
                    var href = $(this).attr('href');
                    if (!href || href.match(/^(javascript|tel)\:/i) || href.match(/^\#/i)) { return true; }
                    html.css('animation-duration', '#{outDuration/1000}s').addClass('animated #{outEffect}');
                    setTimeout(function () { window.location = href; }, #{outDuration});
                    return false;
                });
            });
    .
        })();
