- if (inEffect || outEffect)
    .
        (function () {
            var html = document.documentElement;

    - if (inEffect)
        .
            html.classList.add('animated', '#{inEffect}');
            html.style.animationDuration = '#{inDuration/1000}s';
            setTimeout(function () { html.classList.remove('animated', '#{inEffect}') }, #{inDuration});

    .
        function animpageInit() {
        if (typeof window.$ === 'undefined') { return setTimeout(animpageInit, 50); }

    - if (outEffect)
        .
                $(function () {
                    $(html).on('click', 'a', function () {
                        var href = $(this).attr('href');
                        if (!href || href.match(/^(javascript|tel)\:/i) || href.match(/^\#/i)) { return true; }
                        html.classList.add('animated', '#{outEffect}');
                        html.style.animationDuration = '#{outDuration/1000}s';
                        setTimeout(function () { window.location = href; }, #{outDuration});
                        return false;
                    });
                });
            }
            animpageInit();

    .
        })();
